div#info {
    margin-left: 90px;
}

p#artistTitle {
    font-size: 120%;
    margin: 0px;
    font-style: italic;
}

p#albumname{
    font-size: 200%;
    margin: 0px;
    font-weight: bold;
}

p#release{
    font-size: 100%;
    margin: 0px;
}

div#tracks{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 30px;
}

table#tracktable {
    width: 90%;
}

#tracktable th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: left;
    vertical-align: middle
}

#tracktable tr:hover {
    background-color: #f5f5f5;
}
