div#info {
    margin-left: 90px;
}

p#artistTitle {
    font-size: 200%;
    margin: 0px;
}

p#description{
    font-size: 100%;
    margin: 0px;
}

div#likebutton {
    margin-left: 90px;
    margin-bottom: 10px;
}

#likebutton input {
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
}

#likebutton input:hover {
    background-color: white;
    color: black;
}

div#albums {
    margin-left: 90px;
    margin-top: 50px;
}

table#albumtable th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
    text-align: left;
}

div#tracks{
    margin-left: 90px;
    margin-top: 50px;
}

table#tracktable th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
    text-align: left;
}
