div#info {
    margin-left: 90px;
    margin-bottom: 15px;
}

p#trackname {
    font-size: 200%;
}

p#artistTitle {
    font-size: 120%;
    margin: 0px;
}

p#albumname{
    font-size: 100%;
    margin: 0px;
}

p#duration{
    font-size: 100%;
    margin: 0px;
}

div#rating {
    margin-left: 90px;
}

#rating p {
    margin: 0px;
} 

#rating select {
    border: 0px ;
    font-size: 16px;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    color: #58D68D;
}

#rating input {
    border: 1px solid #58D68D;
    font-size: 16px;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    background-color: #58D68D;
    color: white;
}

#rating input:hover {
    background-color: white;
    color: #58D68D;
}

#rating input {
    margin-left: 10px;
}

div#playwindow {
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 0px;
}

div#playlist {
    margin-left: 90px;
    margin-bottom: 15px;
}

table#playlist {
}

#playlist th, td {
    padding: 5px;
    vertical-align: middle;
}

#playlist input {
    border: 1px solid SlateBlue;
    font-size: 16px;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    background-color: SlateBlue;
    color: white;
}

#playlist input:hover {
    background-color: white;
    color: SlateBlue;
}

