div#title {
    margin-left: 90px;
}

#title h1 {
    font-weight: bold;
}

div#info {
    margin-left: 90px;
}

div#artist {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 20px;
}

table#artisttable {
    width: 90%;
}

table#artisttable th, td {
    border-bottom: 1px solid #ddd;
    padding: 3px;
    text-align: left;
}

table#artisttable tr:hover {
    background-color: #f5f5f5;
}

div#follow{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 30px;
}

table#followtable {
    width: 90%;
}

#followtable th, td {
    border-bottom: 1px solid #ddd;
    padding: 3px;
    text-align: left;
}

div#playlist {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 20px;
}

#playlisttable th, td {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    padding: 3px;
    text-align: left;
}

div#highestrate{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 30px;
}

table#ratetable {
    width: 90%;
}

#ratetable th, td {
    border-bottom: 1px solid #ddd;
    padding: 3px;
    text-align: left;
}

div#mostplayed{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 30px;
}

table#playtable {
    width: 90%;
}

#playtable th, td {
    border-bottom: 1px solid #ddd;
    padding: 3px;
    text-align: left;
}
